@import "./style.css";

.front-page-container {
    min-height: calc(100vh - 60px);
    position: relative;
    display: flex;
}

.title-container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto 0;
}

.title-word {
    font-size: 5rem;
    margin: 0;
    font-weight: normal;
}

.info-container {
    margin: auto 0 auto auto;
    width: 50%
}

.info-text {
    text-align: right;
    margin: 0;
}

.button-container {
    padding: 0.6rem 0;
    width: 150px;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    border: 1px solid var(--primary-color);
    margin: 0 auto;
    text-align: center;
}

.button-container:hover > .button-arrow {
    display: inline;
}

.button-text {
    margin: 0;
    display: inline;
}

.button-arrow {
    display: none;
}

.front-page-border {
    position: absolute;
    bottom: -2px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 0;
    border-bottom: 2px solid var(--primary-color);
}

table, th, td {
    border: 1px solid var(--primary-color);
    border-collapse: collapse;
}

th, td {
    padding: 0 0.5rem;
}

table {
    width: 100%;
    margin-top: 2rem;
}

.table-sidebar {
    text-align: left;
    padding: 0 0.5rem;
}

.div-border {
    /* border: 2px solid var(--background-color); */
    -moz-box-shadow: inset 0 0 16px 10px var(--background-color);
    -webkit-box-shadow: inset 0 0 16px 10px var(--background-color);
    -o-box-shadow: inset 0 0 16px 10px var(--background-color);
    box-shadow: inset 0 0 4px 8px var(--background-color);
    max-height: 100px;
}

.image-border { 
    position: relative;
    z-index: -2;
}

@media (max-width: 768px) {
    .front-page-container {
        flex-direction: column;
    }

    .info-container {
        width: 100%;
        margin: auto 0;
        padding-bottom: 6.2rem;;
    }

    /* Making the responsiveness for the table */

    /* Treat all the components as block */
    table, thead, tbody, th, td, tr { 
		display: block; 
	}

    table {
        border-bottom: none;
    }

    thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

    th { 
        border: none;
        border-bottom: 1px solid var(--primary-color);
    }

    td { 
		border: none;
		border-bottom: 1px solid var(--primary-color); 
		position: relative;
		padding-left: 178px; 
	}
	
    /* Becomes the initial column headers */
	td::before { 
		position: absolute;
		top: 0;
		left: 0;
		width: 150px; 
		padding-right: 10px; 
		white-space: nowrap;
        padding-left: 0.5rem;
        border-right: 1px solid var(--primary-color); 
        height: 100%;
	}

    /* Setting the title for the side headers */
    td:nth-of-type(1):before { content: "Telnet"; }
	td:nth-of-type(2):before { content: "SSH"; }
}

@media (max-width: 360px) {
    .title-word {
        font-size: 4rem;
    }
}