@import "./style.css";

.code-snippet {
    background-color: var(--snippet-background-color);
    padding: 1rem 1.5rem;
    margin: 1.5rem 1rem;
}

.code-snippet > p, pre {
    margin: 0.2rem 0;
}

.code-snippet > p::before, pre::before{
    content: '> ';
}

.top-links {
    display: block;
    margin: 0.5rem 0;
    font-weight: bold;
}