body {
    margin: 0;
}

header {
    background-color: black;
    padding: 1rem 0;
}

.nav-title {
    margin: 0;
    color: white;
}

.nav-wrapper {
    max-width: 980px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 2rem;
}

nav {
    display: flex;
    align-items: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}

main {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 980px;
}